<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WebGL in practice</title>
  <!-- build:css assets/css/main.css -->
  <link rel="stylesheet" href="../assets/css/main.css" />
  <!-- endbuild -->
  <!-- build:css assets/css/libs.css -->
  <link rel="stylesheet" href="../assets/css/libs.css" />
  <!-- endbuild -->
</head>

<body>
  <h2>Let's start</h2>
  <!-- build:js assets/js/libs.js -->
  <script src="../assets/js/libs.js"></script>
  <!-- endbuild -->
  <!-- build:js assets/js/main.js -->
  <script src="../assets/js/main.js"></script>
  <!-- endbuild -->
</body>

</html>
